---
import { type Meta } from "@components/core/MySEO.astro"
import Layout from "@layouts/Layout.astro"

const meta: Meta = {
  title: "404 - Brak strony",
  description:
    "Strona nie została znaleziona. Sprawdź adres lub wróć na stronę główną.",
  noindex: true,
  nofollow: true,
}
---

<Layout meta={meta}>
  <h1>404. Nie ma takiej strony</h1>
  <a href="/" class="">Wróć na stronę główną</a>
</Layout>
