---
import Layout from "@layouts/Layout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"


const meta: Meta = {
  title: "Meta title",
  description: "Meta description",
}
---


<Layout meta={meta}>
  <h1>Hello world</h1>
</Layout>
