---
import PageLayout from "@layouts/PageLayout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import data from "~/data.json"

const meta: Meta = {
  title: "Testowa strona",
  description: "Opis testowej strony",
}

const schema: Schema = {
  "@context": "https://schema.org/",
  "@type": "Website",
  name: "Łukasz Miłoś",
  url: data.site.domain,
  description: "Strona www",
}
---

<PageLayout pageTitle="Testowa strona" meta={meta} schema={schema}>
  <p>Treść testowej strony</p>
</PageLayout>
