---
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import Layout from "@layouts/Layout.astro"

export interface Props {
  pageTitle: string
  pageDescription?: string
  meta: Meta
  schema?: Schema
}

const { pageTitle, pageDescription = null, meta, schema } = Astro.props
---

<Layout meta={meta} schema={schema}>
  <!-- <header
    class="align-center bg-accent-darkest flex flex-col items-center px-6 py-8 text-white md:py-16">
    <div
      class="flex max-w-prose flex-col items-center justify-center gap-4 text-center">
      <h1>{pageTitle}</h1>
      {pageDescription && <p class="text-lg">{pageDescription}</p>}
      <slot name="header" />
    </div>
  </header> -->

  <slot />
</Layout>
